*~
/.emacs.desktop*
/.lsp-session-v1
/.rust-auto-use-cache
/ac-comphist.dat
/anaconda-mode/
/cache/
/eclipse.jdt.ls/
/edts/
/elpa/
/games/
/eshell/history
/eshell/lastdir
/forge-database.sqlite
/history
/ido.last
/projectile-bookmarks.eld
/places
/recentf
/rust-playground/
/semanticdb/
/tramp
/transient/
/workspace/
/init.el
/session.*
/gdb-windows
/project-list
/projects
/bookmarks
/persp-confs/
/perspective
/undohist/
/.log/
/.cache/
/undohist/
/url/
